<div class="row">
  <div class="col-md-4 col-xs-12"></div>

  <div class="col-md-4 col-xs-12 my-3">
  <%= form_for @character do |f| %>
    
    <div class="my-3">
      <strong>Imagen (opcional):</strong> <%= f.text_field :avatar, placeholder:'Pega la url de tu imagen', class:"bg-dark text-white"%>
    </div>

    <div class="mb-3 text-start">
      <label class="form-label">Nombre: </label>
      <%= f.text_field :name , class:"form-control bg-transparent text-white"%>
    </div>
    
    <div class="row g-3 text-start">
      <div class="col-6">
        <label class="form-label">Distrito: </label>
        <select name="character[distrito_id]" id="character_distrito_id">
          <option value="<%=@character.distrito_id%>" selected>Selecciona Distrito</option>
          <option value="1">Kaiser</option>
          <option value="2">Drake</option>
          <option value="3">Ignea Mortis</option>
          <option value="4">Tenjou</option>
          <option value="5">Samsara</option>
          <option value="6">Stahl</option>
          <option value="7">Khronos</option>
          <option value="8">Woohan</option>
        </select>
      </div>
      <div class="col-6">
        <label class="form-label d-block">Raza:</label>
        <select name="character[raza_id]" id="character_raza_id">
          <option value="<%=@character.raza_id%>" selected>Selecciona raza</option>
          <option value="1">Humano</option>
          <option value="2">Gimpisto</option>
          <option value="3">Destello</option>
          <option value="4">Chechenia</option>
          <option value="5">Gag</option>
          <option value="6">Fanderei</option>
          <option value="7">Andorak</option>
          <option value="8">Winvhel</option>
          <option value="9">Chadack</option>
          <option value="10">Ritulillo</option>
        </select>
      </div>
    </div>

    <!-- Potencialidad y Frenesis -->
    <div class="row g-3 text-start mt-2">
      <div class="col">
        <label class="form-label">Potencialidad:</label>
        <%= f.number_field :potencialidad, min:0, max:45, required: true,class:"bg-transparent border border-secondary text-white text-center rounded col-md-4 form-control-sm "%>
      </div> 
      <div class="col">
        <label class="form-label">Frenesis</label>
        <%= f.number_field :frenesis, min:0, max:45, required: true, class:"bg-transparent border border-secondary text-white text-center rounded col-md-4 form-control-sm " %><br>
      </div>
    </div>    
    
    
    <%# Seccion Combate %>
    <div class="row">
      <div class="my-3">
        <h2>Combate</h2>
        <div class="row">
          <div class="col">
            <div class="row align-items-baseline">
              <label class="col-8 form-label text-start">Atletismo:</label>
              <%= f.number_field :atletismo, in:0..10, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoCombate" %>
            </div>
            <div class="row align-items-baseline">
              <p class="col-8 form-label text-start">Estabilidad:</p>
              <%= f.number_field :estabilidad, in:0..10 ,class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoCombate"%>
            </div>
            <div class="row align-items-baseline">
              <p class="col-8 form-label text-start">Pelea:</p>
              <%= f.number_field :pelea, in:0..10 ,class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoCombate"%>
            </div>
            <div class="row align-items-baseline">
              <p class="col-8 form-label text-start">Destreza:</p>
              <%= f.number_field :destreza, in:0..10 ,class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoCombate"%>
            </div>
            <div class="row align-items-baseline">
              <p class="col-8 form-label text-start">Esquivar:</p>
              <%= f.number_field :esquivar, in:0..10 ,class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoCombate"%>
            </div>
            <div class="row align-items-baseline">
              <p class="col-8 form-label text-start">Resistencia:</p>
              <%= f.number_field :resistencia, in:0..10 ,class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoCombate"%>
            </div>
            <div class="row align-items-baseline">
              <p class="col-8 form-label text-start">Fuerza:</p>
              <%= f.number_field :fuerza, in:0..10 ,class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoCombate"%>
            </div>
          </div>

          <div class="col">
            <div class="row align-items-baseline">
              <p class="col-8 form-label text-start">Finta:</p>
              <%= f.number_field :finta, in:0..5 ,class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoCombate"%>
            </div>
            <div class="row align-items-baseline">
              <p class="col-8 form-label text-start">Alerta:</p>
              <%= f.number_field :alerta, in:0..5 ,class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoCombate"%>
            </div>
            <div class="row align-items-baseline">
              <p class="col-8 form-label text-start">Sigilo:</p>
              <%= f.number_field :sigilo, in:0..5 ,class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoCombate"%>
            </div>
            <div class="row align-items-baseline">
              <p class="col-8 form-label text-start">Percepcion espacial:</p>
              <%= f.number_field :percep_espacial, in:0..5 ,class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoCombate"%>
            </div>
            <div class="row align-items-baseline">
              <p class="col-8 form-label text-start">Medicina:</p>
              <%= f.number_field :medicina, in:0..5 ,class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoCombate"%>
            </div>
          </div>
        </div>
      </div>
    </div>
    
     <%# Seccion Psicologia y Conocimientos %>
    <div class="row">
      <div class="my-3">
        <h2 class="my-3 text-center" >Psicologia y Conocimientos</h2>
        <div class="border-top border-bottom border-white my-3">
          <p id="textoPtosPsicologia"></p>
          <p id="totalPtosPsicologia"></p>
        </div>
        <div class="row">
           <div class="col">
             <div class="row align-items-baseline">
               <p class="col-7 form-label text-start">Armas C.C:
               </p>
               <%= f.number_field :armas_cc, in:0..6, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoPsicologia" %>
             </div>
             <div class="row align-items-baseline">
               <p class="col-7 form-label text-start">Armas de fuego:
               </p>
               <%= f.number_field :armas_de_fuego, in:0..7, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoPsicologia" %>
             </div>
             <div class="row align-items-baseline">
               <p class="col-7 form-label text-start"> Armas de Larga Distancia:
               </p>
               <%= f.number_field :armas_larga_distancia, in:0..4, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoPsicologia" %>
             </div>
             <div class="row align-items-baseline">
               <p class="col-7 form-label text-start">Etiqueta:
               </p>
               <%= f.number_field :etiqueta, in:0..3, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoPsicologia" %>
             </div>
             <div class="row align-items-baseline">
               <p class="col-7 form-label text-start"> Fisica: 
               </p>
               <%= f.number_field :fisica, in:0..4, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoPsicologia" %>
             </div>
             <div class="row align-items-baseline">
             <p class="col-7 form-label text-start"> Informatica:  
             </p>
             <%= f.number_field :informatica, in:0..4, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoPsicologia" %>
             </div>
             <div class="row align-items-baseline">
               <p class="col-7 form-label text-start"> Arqueologia:  
               </p>
               <%= f.number_field :arqueologia, in:0..4, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoPsicologia" %>
             </div>
             <div class="row align-items-baseline">
               <p class="col-7 form-label text-start"> Conducir:  
               </p>
               <%= f.number_field :conducir, in:0..6, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoPsicologia" %>
             </div>
             <div class="row align-items-baseline">
               <p class="col-7 form-label text-start"> Criminalistica:  
               </p>
               <%= f.number_field :criminalistica, in:0..4, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoPsicologia" %>
             </div>
             <div class="row align-items-baseline">
               <p class="col-7 form-label text-start"> Linguistica:   
               </p>
               <%= f.number_field :linguistica, in:0..10, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoPsicologia" %>
             </div>
           </div>
           <div class="col">
             <div class="row align-items-baseline">
               <p class="col-7 form-label text-start"> Negocios:   
               </p>
               <%= f.number_field :negocios, in:0..4, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoPsicologia" %>
             </div>
             <div class="row align-items-baseline">
               <p class="col-7 form-label text-start"> Ocultismo:   
               </p>
               <%= f.number_field :ocultismo, in:0..7, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoPsicologia" %>
             </div>
             <div class="row align-items-baseline">
               <p class="col-7 form-label text-start"> Quimica:    
               </p>
               <%= f.number_field :quimica, in:0..4, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoPsicologia" %>
             </div>
             <div class="row align-items-baseline">
               <p class="col-7 form-label text-start"> Simpatia:    
               </p>
               <%= f.number_field :simpatia, in:0..4, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoPsicologia" %>
             </div>
             <div class="row align-items-baseline">
               <p class="col-7 form-label text-start"> Persuasion:     
               </p>
               <%= f.number_field :persuasion, in:0..5, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoPsicologia" %>
             </div>
             <div class="row align-items-baseline">
               <p class="col-7 form-label text-start">Pilotear / Navegar:     
               </p>
               <%= f.number_field :pilotear_navegar, in:0..5, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoPsicologia" %>
             </div>
             <div class="row align-items-baseline">
               <p class="col-7 form-label text-start"> Autocontrol:     
               </p>
               <%= f.number_field :autocontrol, in:0..5, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoPsicologia" %>
             </div>
             <div class="row align-items-baseline">
               <p class="col-7 form-label text-start"> Trato con animales:      
               </p>
               <%= f.number_field :trato_con_animales, in:0..7, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoPsicologia" %>
             </div>
             <div class="row align-items-baseline">
               <p class="col-7 form-label text-start"> Topografia geologia:      
               </p>
               <%= f.number_field :topografia_geologia, in:0..4, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoPsicologia" %>
             </div>
             <div class="row align-items-baseline">
               <p class="col-7 form-label text-start"> Supervivencia:      
               </p>
               <%= f.number_field :supervivencia, in:0..7, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoPsicologia" %>
             </div>
           </div>
        </div>
       </div>
    </div>
    
    <div>
      <%= f.submit 'Actualizar', class:"btn btn-danger my-4"%>
    </div>
    <%end%> 
    </div>
  </div>

  <div class="col-md-4 col-xs-12"></div>
  
  <%= button_to 'Salir', characters_path, method: :get, class:"btn btn-light"%>
</div>