<div class="row d-flex justify-content-center">
    <% @characters.each do |character|%>
        <div class="card mb-5 bg-transparent col-xs-12 col-md-4">
            <img src="<%= character.avatar%>" class="opacity-70">   
            <div class="card-body">                            

                <%# Nombre, gloria, distrito, raza %>
                <h4 class="card-title fst-italic fw-bold fs-2 my-3">
                    <%= character.name%>
                </h4>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h6 class="accordion-header bg-dark border border-light text-light py-2">
                            Gloria: <%=character.gloria%>
                        </h6>
                    </div>
                    <div class="accordion-item">
                        <h6 class="accordion-header bg-dark border border-light text-light py-2">
                            Distrito: <%=Distrito.find(character.distrito_id).distrito%>
                        </h6>
                    </div>
                    <div class="accordion-item">
                        <h6 class="accordion-header bg-dark border border-light text-light py-2">
                            Raza: <%=Raza.find(character.raza_id).raza%>
                        </h6>
                    </div>

                        <%# Desplegable de Salud  %>
                    <div class="accordion-item">
                        <h2 class="accordion-header bg-dark border border-light py-2">
                            <button class="accordion-button bg-transparent text-light " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Salud:<span id="nivelSalud<%=character.id%>" class="salud mx-2"><%=character.salud%></span> / <span><%=character.salud%></span> 
                            </button>
                            <div id="collapseOne" class="accordion-collapse collapse bg-transparent" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body container bg-dark">
                                    <input type="number" name="danos"
                                        min="0" max="10000" style="width:inherit" class="bg-transparent text-center text-light danos" id="dano<%=character.id%>">
                                    <button class="btn btn-danger mt-3" id="<%=character.id%>" onclick='danar(this)' >Dañar</button>
                                    <button class="btn btn-secondary mt-3" id="<%=character.id%>" onclick='sanar(this)'>Sanar</button>
                                </div>
                            </div>
                        </h2>
                    </div>

                        <%# Desplegable de Potencialidad %>
                    <div class="accordion-item">
                        <h2 class="accordion-header bg-dark border border-light text-light py-2">
                            <button class="accordion-button bg-transparent text-light " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Potencialidad: <span id="nivelPot<%=character.id%>" class="pot mx-2"><%=character.potencialidad%></span> / <span><%=character.potencialidad%></span>
                            </button>
                            <div id="collapseTwo" class="accordion-collapse collapse bg-transparent" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body container bg-dark">
                                    <input type="number" name="absPot" id="gastoPot<%=character.id%>"
                                        min="0" max="<%=character.potencialidad%>" style="width:inherit" class="bg-transparent text-center text-light gastoPot">
                                    <button class="btn btn-danger mt-3" onclick="absPot(this)" id="<%=character.id%>">Gastar</button>
                                    <button class="btn btn-secondary mt-3" onclick="recPot(this)" id="<%=character.id%>">Recuperar</button>
                                </div>
                            </div>
                        </h2>
                    </div>

                        <%# Desplegable de Frenesis %>
                    <div class="accordion-item">
                        <h2 class="accordion-header bg-dark border border-light text-light py-2">
                            <button class="accordion-button bg-transparent text-light " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            Frenesis: <span id="nivelFren<%=character.id%>" class="fren mx-2"><%=character.frenesis%></span> / <span><%=character.frenesis%></span>
                            </button>
                            <div id="collapseThree" class="accordion-collapse collapse bg-transparent" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body container bg-dark">
                                    <input type="number" name="absFren" id="gastoFren<%=character.id%>" 
                                        min="0" max="<%=character.frenesis%>" style="width:inherit" class="bg-transparent text-center text-light gastoFren">
                                    <button class="btn btn-danger mt-3" onclick="absFren(this)" id="<%=character.id%>">Gastar</button>
                                    <button class="btn btn-secondary mt-3" onclick="recFren(this)" id="<%=character.id%>">Recuperar</button>
                                </div>
                            </div>
                        </h2>
                    </div>

                        <%# Desplegable Fuerza de Volutad %>

                    <div class="accordion-item">
                        <h2 class="accordion-header bg-dark border border-light text-light py-2">
                            <button class="accordion-button bg-transparent text-light " type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            Fuerza de Voluntad: <span id="nivelFdV<%=character.id%>" class="fdv mx-2"><%=character.fuerza_de_voluntad%></span> / <span><%=character.fuerza_de_voluntad%></span>
                            </button>
                            <div id="collapseFour" class="accordion-collapse collapse bg-transparent" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body container bg-dark">
                                    <input type="number" name="absFdV" id="gastoFdV<%=character.id%>" 
                                        min="0" max="<%=character.fuerza_de_voluntad%>" style="width:inherit" class="bg-transparent text-center text-light gastoFdV">
                                    <button class="btn btn-danger mt-3" onclick="absFdV(this)" id="<%=character.id%>">Gastar</button>
                                    <button class="btn btn-secondary mt-3" onclick="recFdV(this)" id="<%=character.id%>">Recuperar</button>
                                </div>
                            </div>
                        </h2>
                    </div>    

                        <%# Desplegable Hidratacion %>         
                    <div class="accordion-item d-none">
                        <h2 class="accordion-header bg-dark border border-light text-light py-2">
                            <button class="accordion-button bg-transparent text-light " type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">Hidratacion: <span id="hidratacionMax" class="mx-2">
                                <%=character.hidratacion%></span> / <span id="hidratacion"><%=character.hidratacion%></span>
                            </button>
                            <div id="collapseFive" class="accordion-collapse collapse bg-transparent" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body container bg-dark">
                                    <input type="number" id="absHidratacion" name="absHidratacion"
                                        min="0" max="100" style="width:inherit" class="bg-transparent text-center text-light">
                                    <button class="btn btn-danger mt-3" onclick="absHidratacion()">Gastar</button>
                                    <button class="btn btn-secondary mt-3" onclick="recHidratacion()">Beber</button>
                                </div>
                            </div>
                        </h2>                    
                    </div>    

                        <%# Desplegable Hambre %>
                    <div class="accordion-item d-none">
                        <h2 class="accordion-header bg-dark border border-light text-light py-2">
                            <button class="accordion-button bg-transparent text-light " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">Hambre: <span id="hambreMax" class="mx-2">
                                <%=character.hambre%></span> / <span id="hambre"><%=character.hambre%></span>
                            </button>
                            <div id="collapseSix" class="accordion-collapse collapse bg-transparent" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body container bg-dark">
                                    <input type="number" id="absHambre" name="absHambre"
                                        min="0" max="100" style="width:inherit" class="bg-transparent text-center text-light">
                                    <button class="btn btn-danger mt-3" onclick="absHambre()">Gastar</button>
                                    <button class="btn btn-secondary mt-3" onclick="recHambre()">Comer</button>
                                </div>
                            </div>
                        </h2>
                    </div>

                    <%# Desplegable Combate %>
                    <div class="accordion-item">
                        <h2 class="accordion-header bg-dark border border-light text-light py-2">
                            <button class="accordion-button bg-transparent text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                                <h5 class="text-center">Combate</h5>
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse bg-transparent" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body bg-dark">
                                <dl class="row text-start">
                                    <dt class="col-8">Atletismo</dt>
                                    <dd class="col-4"><%=character.atletismo%>/ 10</dd>
                                    <dt class="col-8">Estabilidad</dt>
                                    <dd class="col-4"><%=character.estabilidad%>/ 10</dd>
                                    <dt class="col-8">Pelea</dt>
                                    <dd class="col-4"><%=character.pelea%>/ 10</dd>
                                    <dt class="col-8">Destreza</dt>
                                    <dd class="col-4"><%=character.destreza%>/ 10</dd>
                                    <dt class="col-8">Esquivar</dt>
                                    <dd class="col-4"><%=character.esquivar%>/ 10</dd>
                                    <dt class="col-8">Resistencia</dt>
                                    <dd class="col-4"><%=character.resistencia%>/ 10</dd>
                                    <dt class="col-8">Fuerza</dt>
                                    <dd class="col-4"><%=character.fuerza%>/ 10</dd>
                                    <dt class="col-8">Finta</dt>
                                    <dd class="col-4"><%=character.finta%>/ 5</dd>
                                    <dt class="col-8">Alerta</dt>
                                    <dd class="col-4"><%=character.alerta%>/ 5</dd>
                                    <dt class="col-8">Sigilo</dt>
                                    <dd class="col-4"><%=character.sigilo%>/ 5</dd>
                                    <dt class="col-8">Percepcion espacial</dt>
                                    <dd class="col-4"><%=character.percep_espacial%>/ 5</dd>
                                    <dt class="col-8">Medicina</dt>
                                    <dd class="col-4"><%=character.medicina%>/ 5</dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                    <%# Desplegable Psicologia y Conocimientos%>
                    <div class="accordion-item">
                        <h2 class="accordion-header bg-dark border border-light text-light py-2">
                            <button class="accordion-button bg-transparent text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                                <h5 class="text-center">Psicologia y Conocimientos</h5>
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse bg-transparent" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body bg-dark">
                                <dl class="row text-start">
                                    <dt class="col-8">Armas C.C:</dt>
                                    <dd class="col-4"><%=character.armas_cc%>/6</dd>
                                    <dt class="col-8">Armas de fuego: </dt>
                                    <dd class="col-4"><%=character.armas_de_fuego%>/7</dd> 
                                    <dt class="col-8">Armas de larga distancia: </dt>
                                    <dd class="col-4"><%=character.armas_larga_distancia%>/4</dd> 
                                    <dt class="col-8">Etiqueta: </dt>
                                    <dd class="col-4"><%=character.etiqueta%>/3</dd> 
                                    <dt class="col-8">Fisica: </dt>
                                    <dd class="col-4"><%=character.fisica%>/4</dd> 
                                    <dt class="col-8">Informatica: </dt>
                                    <dd class="col-4"><%=character.informatica%>/4</dd> 
                                    <dt class="col-8">Arqueologia: </dt>
                                    <dd class="col-4"><%=character.arqueologia%>/4</dd> 
                                    <dt class="col-8">Conducir: </dt>
                                    <dd class="col-4"><%=character.conducir%>/6</dd> 
                                    <dt class="col-8">Criminalistica: </dt>
                                    <dd class="col-4"><%=character.criminalistica%>/4</dd> 
                                    <dt class="col-8">Linguistica: </dt>
                                    <dd class="col-4"><%=character.linguistica%>/10</dd> 
                                    <dt class="col-8">Negocios: </dt>
                                    <dd class="col-4"><%=character.negocios%>/4</dd> 
                                    <dt class="col-8">Ocultismo: </dt>
                                    <dd class="col-4"><%=character.ocultismo%>/7</dd> 
                                    <dt class="col-8">Quimica: </dt>
                                    <dd class="col-4"><%=character.quimica%>/4</dd> 
                                    <dt class="col-8">Simpatia: </dt>
                                    <dd class="col-4"><%=character.simpatia%>/4</dd> 
                                    <dt class="col-8">Persuasion: </dt>
                                    <dd class="col-4"><%=character.persuasion%>/5</dd> 
                                    <dt class="col-8">Pilotear / navegar: </dt>
                                    <dd class="col-4"><%=character.pilotear_navegar%>/5</dd> 
                                    <dt class="col-8">Autocontrol: </dt>
                                    <dd class="col-4"><%=character.autocontrol%>/5</dd> 
                                    <dt class="col-8">Trato con animales: </dt>
                                    <dd class="col-4"><%=character.trato_con_animales%>/7</dd> 
                                    <dt class="col-8">Topografia / geologia: </dt>
                                    <dd class="col-4"><%=character.topografia_geologia%>/4</dd> 
                                    <dt class="col-8">Supervivencia: </dt>
                                    <dd class="col-4"><%=character.supervivencia%>/7</dd>
                                </dl>
                            </div>
                        
                        
                        </div>
                    </div>
                    
                    <%# Seccion Armas %>
                    <div class="accordion-item">
                        <button class="accordion-button bg-dark text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                            <h3 class="accordion-header bg-dark text-light py-2 text-center">Armas</h2>
                        </button>
                        <div id="collapseNine" class="accordion-collapse collapse bg-dark" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body bg-dark">
                                <dl class="row border-top py-2">
                                    <dt class="col-12"><%=Arma.find(Character.find(character.id).weapons[0].id_arma1).nombre%></dt>
                                    <dd class="col-12 text-center"><%=Arma.find(Character.find(character.id).weapons[0].id_arma1).tipo%></dd>
                                    <dt class="col-3 text-start">Daño: </dt>
                                    <dd class="col-3"><%=Arma.find(Character.find(character.id).weapons[0].id_arma1).dano%></dd>
                                    <dt class="col-4 text-start">Velocidad: </dt>
                                    <dd class="col-2"><%=Arma.find(Character.find(character.id).weapons[0].id_arma1).velocidad%></dd>
                                    <dt class="col-4 text-start">Distancia: </dt>
                                    <dd class="col-2"><%=Arma.find(Character.find(character.id).weapons[0].id_arma1).distanciaRango%></dd>
                                    <dt class="col-4 text-start">Atributo: </dt>
                                    <dd class="col-2"><%=Arma.find(Character.find(character.id).weapons[0].id_arma1).atributo%></dd>
                                    <dt class="col-4 text-start">Cadencia: </dt>
                                    <dd class="col-2"><%=Arma.find(Character.find(character.id).weapons[0].id_arma1).cadencia%></dd>
                                
                                </dl>
                                <dl class="row border-top py-2">
                                    <dt class="col-12"><%=Arma.find(Character.find(character.id).weapons[0].id_arma2).nombre%></dt>
                                    <dd class="col-12 text-center"><%=Arma.find(Character.find(character.id).weapons[0].id_arma2).tipo%></dd>
                                    <dt class="col-3 text-start">Daño: </dt>
                                    <dd class="col-3"><%=Arma.find(Character.find(character.id).weapons[0].id_arma2).dano%></dd>
                                    <dt class="col-4 text-start">Velocidad: </dt>
                                    <dd class="col-2"><%=Arma.find(Character.find(character.id).weapons[0].id_arma2).velocidad%></dd>
                                    <dt class="col-4 text-start">Distancia: </dt>
                                    <dd class="col-2"><%=Arma.find(Character.find(character.id).weapons[0].id_arma2).distanciaRango%></dd>
                                    <dt class="col-4 text-start">Atributo: </dt>
                                    <dd class="col-2"><%=Arma.find(Character.find(character.id).weapons[0].id_arma2).atributo%></dd>
                                    <dt class="col-4 text-start">Cadencia: </dt>
                                    <dd class="col-2"><%=Arma.find(Character.find(character.id).weapons[0].id_arma2).cadencia%></dd>
                                </dl>
                                <dl class="row border-top py-2">
                                    <dt class="col-12"><%=Arma.find(Character.find(character.id).weapons[0].id_arma3).nombre%></dt>
                                    <dd class="col-12 text-center"><%=Arma.find(Character.find(character.id).weapons[0].id_arma3).tipo%></dd>
                                    <dt class="col-3 text-start">Daño: </dt>
                                    <dd class="col-3"><%=Arma.find(Character.find(character.id).weapons[0].id_arma3).dano%></dd>
                                    <dt class="col-4 text-start">Velocidad: </dt>
                                    <dd class="col-2"><%=Arma.find(Character.find(character.id).weapons[0].id_arma3).velocidad%></dd>
                                    <dt class="col-4 text-start">Distancia: </dt>
                                    <dd class="col-2"><%=Arma.find(Character.find(character.id).weapons[0].id_arma3).distanciaRango%></dd>
                                    <dt class="col-4 text-start">Atributo: </dt>
                                    <dd class="col-2"><%=Arma.find(Character.find(character.id).weapons[0].id_arma3).atributo%></dd>
                                    <dt class="col-4 text-start">Cadencia: </dt>
                                    <dd class="col-2"><%=Arma.find(Character.find(character.id).weapons[0].id_arma3).cadencia%></dd>
                                </dl>
                                <dl class="row border-top py-2">
                                    <dt class="col-12"><%=Arma.find(Character.find(character.id).weapons[0].id_arma4).nombre%></dt>
                                    <dd class="col-12 text-center"><%=Arma.find(Character.find(character.id).weapons[0].id_arma4).tipo%></dd>
                                    <dt class="col-3 text-start">Daño: </dt>
                                    <dd class="col-3"><%=Arma.find(Character.find(character.id).weapons[0].id_arma4).dano%></dd>
                                    <dt class="col-4 text-start">Velocidad: </dt>
                                    <dd class="col-2"><%=Arma.find(Character.find(character.id).weapons[0].id_arma4).velocidad%></dd>
                                    <dt class="col-4 text-start">Distancia: </dt>
                                    <dd class="col-2"><%=Arma.find(Character.find(character.id).weapons[0].id_arma4).distanciaRango%></dd>
                                    <dt class="col-4 text-start">Atributo: </dt>
                                    <dd class="col-2"><%=Arma.find(Character.find(character.id).weapons[0].id_arma4).atributo%></dd>
                                    <dt class="col-4 text-start">Cadencia: </dt>
                                    <dd class="col-2"><%=Arma.find(Character.find(character.id).weapons[0].id_arma4).cadencia%></dd>
                                </dl>
                                <dl class="row border-top py-2">
                                    <dt class="col-12"><%=Arma.find(Character.find(character.id).weapons[0].id_arma5).nombre%></dt>
                                    <dd class="col-12 text-center"><%=Arma.find(Character.find(character.id).weapons[0].id_arma5).tipo%></dd>
                                    <dt class="col-3 text-start">Daño: </dt>
                                    <dd class="col-3"><%=Arma.find(Character.find(character.id).weapons[0].id_arma5).dano%></dd>
                                    <dt class="col-4 text-start">Velocidad: </dt>
                                    <dd class="col-2"><%=Arma.find(Character.find(character.id).weapons[0].id_arma5).velocidad%></dd>
                                    <dt class="col-4 text-start">Distancia: </dt>
                                    <dd class="col-2"><%=Arma.find(Character.find(character.id).weapons[0].id_arma5).distanciaRango%></dd>
                                    <dt class="col-4 text-start">Atributo: </dt>
                                    <dd class="col-2"><%=Arma.find(Character.find(character.id).weapons[0].id_arma5).atributo%></dd>
                                    <dt class="col-4 text-start">Cadencia: </dt>
                                    <dd class="col-2"><%=Arma.find(Character.find(character.id).weapons[0].id_arma5).cadencia%></dd>
                                </dl>
                                <dl class="row border-top py-2">
                                    <dt class="col-12"><%=Arma.find(Character.find(character.id).weapons[0].id_arma6).nombre%></dt>
                                    <dd class="col-12 text-center"><%=Arma.find(Character.find(character.id).weapons[0].id_arma6).tipo%></dd>
                                    <dt class="col-3 text-start">Daño: </dt>
                                    <dd class="col-3"><%=Arma.find(Character.find(character.id).weapons[0].id_arma6).dano%></dd>
                                    <dt class="col-4 text-start">Velocidad: </dt>
                                    <dd class="col-2"><%=Arma.find(Character.find(character.id).weapons[0].id_arma6).velocidad%></dd>
                                    <dt class="col-4 text-start">Distancia: </dt>
                                    <dd class="col-2"><%=Arma.find(Character.find(character.id).weapons[0].id_arma6).distanciaRango%></dd>
                                    <dt class="col-4 text-start">Atributo: </dt>
                                    <dd class="col-2"><%=Arma.find(Character.find(character.id).weapons[0].id_arma6).atributo%></dd>
                                    <dt class="col-4 text-start">Cadencia: </dt>
                                    <dd class="col-2"><%=Arma.find(Character.find(character.id).weapons[0].id_arma6).cadencia%></dd>
                                </dl>
                                <%=link_to 'Arsenal', character_path(character), class:"btn btn-warning" %>
                            </div>
                        </div>

                    </div>

                    <%# Seccion Tecnicas %>
                    <div class="accordion-item">
                        <button class="accordion-button bg-dark text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                            <h3 class="accordion-header bg-dark text-light py-2 text-center">Tecnicas</h2>
                        </button>
                        <div id="collapseTen" class="accordion-collapse collapse bg-dark" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body bg-dark">
                                <%=link_to 'Tecnicas', character_skills_path(character), class:"btn btn-warning", target:"_blank" %>
                            </div>
                        </div>
                    </div>
                </div>


                <%# Botones Editar y Eliminar %>
                <div class="row my-3">
                    <div class="col px-0">
                        <%= link_to 'Editar', edit_character_path(character), method: :get, class:"btn btn-danger d-inline" %>
                        <%= link_to 'Eliminar', character_path(character), method: :delete , data:{confirm:"Ya no hay vuelta atras pequeñin... Estas seguro?"}, class:"btn btn-secondary d-inline"%>

                    </div>
                </div>
                <div class="my-2">
                </div>

                
            </div>
        </div>

<script>
    arraySalud = document.getElementsByClassName('salud')
    arrayDanos = document.getElementsByClassName('danos')
    arrayPot = document.getElementsByClassName('pot')
    arrayGastoPot = document.getElementsByClassName('gastoPot')
    arrayFren = document.getElementsByClassName('fren')
    arrayGastoFren = document.getElementsByClassName('gastoFren')
    arrayFdV = document.getElementsByClassName('fdv')
    arrayGastoFdV = document.getElementsByClassName('gastoFdV')
    
//    Botones Salud
    function danar(element) {
        id = "nivelSalud" + element.id
        idDano = 'dano'+element.id
        saludActual = arraySalud[id];
        dano = arrayDanos[idDano]; 
        saludActual.textContent = parseInt(saludActual.textContent) - parseInt(dano.value);
        if (parseInt(saludActual.textContent) <= 0) {
            alert ('Has caido! a rogar para que no te rematen ¿eh?')
            saludActual.textContent = 0
        };
        dano.value = "";
    }

    function sanar(element) {
        id = "nivelSalud" + element.id
        idDano = 'dano'+element.id
        saludActual = arraySalud[id];
        dano = arrayDanos[idDano]; 
        saludActual.textContent = parseInt(saludActual.textContent) + parseInt(dano.value);
        dano.value = "";
        if (parseInt(saludActual.textContent) >= parseInt(saludActual.nextElementSibling.textContent)) {
            alert ('que mas quieres sanar sabandija, acaso quieres empezar a brillar??')
            saludActual.textContent = parseInt(saludActual.nextElementSibling.textContent)
        };
    }

    // Botones Potencialidad
    function absPot(element) {
        id = "nivelPot" + element.id;
        idGastoPot = "gastoPot" + element.id;
        potActual = arrayPot[id];
        gastoPot = arrayGastoPot[idGastoPot];
        potActual.textContent = parseInt(potActual.textContent)-parseInt(gastoPot.value) 
        gastoPot.value = ""
        if (parseInt(potActual.textContent) <= 0) {
            potActual.textContent = 0
            alert('Estas fulminado pequeñin, quietecito te ves mas bonito.')
        }
    }

    function recPot(element){
        id = "nivelPot" + element.id;
        idGastoPot = "gastoPot" + element.id;
        potActual = arrayPot[id];
        gastoPot = arrayGastoPot[idGastoPot];
        potActual.textContent = parseInt(potActual.textContent)+parseInt(gastoPot.value) 
        gastoPot.value = ""
        if (parseInt(potActual.textContent) >= parseInt(potActual.nextElementSibling.textContent)) {
            alert('Listo para otro round sabandija!')
            potActual.textContent = potActual.nextElementSibling.textContent
        }
    }

    // Botones Frenesis
    function absFren(element) {
        id = "nivelFren" + element.id;
        idGastoFren = "gastoFren" + element.id;
        frenActual = arrayFren[id];
        gastoFren = arrayGastoFren[idGastoFren];
        frenActual.textContent = parseInt(frenActual.textContent)-parseInt(gastoFren.value); 
        gastoFren.value = "";
        if (parseInt(frenActual.textContent) <= 0) {
            frenActual.textContent = 0;
            alert('Letargado!, llamen una enfermera que este crio esta babeando el suelo!')
        }
    }

    function recFren(element) {
        id = "nivelFren" + element.id;
        idGastoFren = "gastoFren" + element.id;
        frenActual = arrayFren[id];
        gastoFren = arrayGastoFren[idGastoFren];
        frenActual.textContent = parseInt(frenActual.textContent)+parseInt(gastoFren.value) 
        gastoFren.value = ""
        if (parseInt(frenActual.textContent) >= parseInt(frenActual.nextElementSibling.textContent)) {
            alert('Suficiente descanso! los oidos ya dejaron de sangrar!')
            frenActual.textContent = frenActual.nextElementSibling.textContent
        }
    }
    
    // Botones Fuerza de Voluntad
    function absFdV(element){
        id = "nivelFdV" + element.id;
        idGastoFdV = "gastoFdV" + element.id;
        fdvActual = arrayFdV[id];
        gastoFdV = arrayGastoFdV[idGastoFdV];
        fdvActual.textContent = parseInt(fdvActual.textContent)-parseInt(gastoFdV.value); 
        gastoFdV.value = "";
        if (parseInt(fdvActual.textContent) <= 0) {
            fdvActual.textContent = 0;
            alert('Desmotivado?? How Dare You!! estas en penumbra... un tanto mas lento nada mas... jjejeje')
        }        
    }

    function recFdV(element){
        id = "nivelFdV" + element.id;
        idGastoFdV = "gastoFdV" + element.id;
        fdvActual = arrayFdV[id];
        gastoFdV = arrayGastoFdV[idGastoFdV];
        fdvActual.textContent = parseInt(fdvActual.textContent)+parseInt(gastoFdV.value); 
        gastoFdV.value = "";
        if (parseInt(fdvActual.textContent) >= parseInt(fdvActual.nextElementSibling.textContent)) {
            fdvActual.textContent = fdvActual.nextElementSibling.textContent;
            alert('Que linda sonrisa sin dientes, sigamos!')
        }        
    }

    // Botones Hidratacion
    function absHidratacion(){
        alert('en desarrollo');
    }

    // Botones Hambre
    function recHidratacion() {
        alert('en desarrollo');      
    }

    function absHambre(){
        alert('en desarrollo');
    }

    function recHambre() {
        alert('en desarrollo');
    }

</script>

    <%end%>
</div>


<%= button_to 'Crear Personaje', new_character_path, method: :get, class:"btn btn-secondary"%>
<%= button_to 'Salir', destroy_user_session_path, method: :delete , class:"btn btn-light my-3"%>


