<div class="my-3">
  <figure>
    <blockquote class="blockquote">
      <span id="citaNombre" class="d-none text-center"></span><br>
      <span id="citaDistrito" class="d-none"></span><br>
      <span id="citaRaza" class="d-none"></span>
    </blockquote>
    <figcaption class="blockquote-footer">
      Alquimides y concilio</cite>
    </figcaption>
  </figure>
</div>
<div class="row">
  <div class="col-md-4 col-xs-12"></div>

  <div class="col-md-4 col-xs-12 my-3">
  <%= form_for @character do |f| %>
    
  <div class="my-3">
      <strong>Imagen (opcional):</strong> <%= f.text_field :avatar, placeholder:'Pega la url de tu imagen', class:"bg-dark text-white"%>
    </div>

    <div class="mb-3 text-start">
      <label class="form-label">Nombre: </label>
      <%= f.text_field :name , class:"form-control bg-transparent text-white"%>
    </div>
    
    <div class="row g-3 text-start">
      <div class="col-6">
        <label class="form-label">Distrito: </label>
        <select name="character[distrito_id]" id="character_distrito_id">
          <option selected>Selecciona Distrito</option>
          <option value="1">Kaiser</option>
          <option value="2">Drake</option>
          <option value="3">Ignea Mortis</option>
          <option value="4">Tenjou</option>
          <option value="5">Samsara</option>
          <option value="6">Stahl</option>
          <option value="7">Khronos</option>
          <option value="8">Woohan</option>
        </select>
      </div>
      <div class="col-6">
        <label class="form-label d-block">Raza:</label>
        <select name="character[raza_id]" id="character_raza_id">
          <option selected>Selecciona raza</option>
          <option value="1">Humano</option>
          <option value="2">Gimpisto</option>
          <option value="3">Destello</option>
          <option value="4">Chechenia</option>
          <option value="5">Gag</option>
          <option value="6">Fanderei</option>
          <option value="7">Andorak</option>
          <option value="8">Winvhel</option>
          <option value="9">Chadack</option>
          <option value="10">Ritulillo</option>
        </select>
      </div>
    </div>

    <!-- Potencialidad y Frenesis -->

    <div class="row text-center mt-4 border-top border-bottom d-none pt-3" id="repPtosPotFren">
    </div>

    <div class="row g-3 text-start mt-2">
      <div class="col">
        <label class="form-label">Potencialidad:</label>
        <%= f.number_field :potencialidad, min:0, max:45, required: true,class:"bg-transparent border border-secondary text-white text-center rounded col-md-4 form-control-sm "%>
      </div> 
      <div class="col">
        <label class="form-label">Frenesis</label>
        <%= f.number_field :frenesis, min:0, max:45, class:"bg-transparent border border-secondary text-white text-center rounded col-md-4 form-control-sm " %><br>
      </div>
    </div>    
    
    <div class="my-3">
    </div>

    <%# Seccion Combate %>
    <div class="row">
      <div class="my-3 d-none" id="ptosCombate" >
        <h2>Combate</h2>
        <p class="border-top border-bottom border-white py-2" id="textoPtosCombate"></p>
        <div class="row">
          <div class="col">
            <div class="row align-items-baseline">
              <p class="col-8 form-label text-start">Atletismo:</p>
              <%= f.number_field :atletismo, in:0..10, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoCombate", value:"0" %>
            </div>
            <div class="row align-items-baseline">
              <p class="col-8 form-label text-start">Estabilidad:</p>
              <%= f.number_field :estabilidad, in:0..10 ,class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoCombate", value:"0"%>
            </div>
            <div class="row align-items-baseline">
              <p class="col-8 form-label text-start">Pelea:</p>
              <%= f.number_field :pelea, in:0..10 ,class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoCombate", value:"0"%>
            </div>
            <div class="row align-items-baseline">
              <p class="col-8 form-label text-start">Destreza:</p>
              <%= f.number_field :destreza, in:0..10 ,class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoCombate", value:"0"%>
            </div>
            <div class="row align-items-baseline">
              <p class="col-8 form-label text-start">Esquivar:</p>
              <%= f.number_field :esquivar, in:0..10 ,class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoCombate", value:"0"%>
            </div>
            <div class="row align-items-baseline">
              <p class="col-8 form-label text-start">Resistencia:</p>
              <%= f.number_field :resistencia, in:0..10 ,class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoCombate", value:"0"%>
            </div>
            <div class="row align-items-baseline">
              <p class="col-8 form-label text-start">Fuerza:</p>
              <%= f.number_field :fuerza, in:0..10 ,class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoCombate", value:"0"%>
            </div>
          </div>

          <div class="col">
            <div class="row align-items-baseline">
              <p class="col-8 form-label text-start">Finta:</p>
              <%= f.number_field :finta, in:0..5 ,class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoCombate", value:"0"%>
            </div>
            <div class="row align-items-baseline">
              <p class="col-8 form-label text-start">Alerta:</p>
              <%= f.number_field :alerta, in:0..5 ,class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoCombate", value:"0"%>
            </div>
            <div class="row align-items-baseline">
              <p class="col-8 form-label text-start">Sigilo:</p>
              <%= f.number_field :sigilo, in:0..5 ,class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoCombate", value:"0"%>
            </div>
            <div class="row align-items-baseline">
              <p class="col-8 form-label text-start">Percepcion espacial:</p>
              <%= f.number_field :percep_espacial, in:0..5 ,class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoCombate", value:"0"%>
            </div>
            <div class="row align-items-baseline">
              <p class="col-8 form-label text-start">Medicina:</p>
              <%= f.number_field :medicina, in:0..5 ,class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm ptoCombate", value:"0"%>
            </div>
          </div>
        </div>
      </div>
    
     <%# Seccion Psicologia y Conocimientos %>
    <div class="my-3 d-none" id="ptosPsicologia">
      <h2 class="my-3 text-center" >Psicologia y Conocimientos</h2>
      <p class="border-top border-bottom border-white py-2" id="textoPsicologia"></p>
      <div class="row">
        <div class="col">
          <div class="row align-items-baseline">
            <p class="col-7 form-label text-start">Armas C.C:
            </p>
            <%= f.number_field :armas_cc, in:0..6, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm" %>
          </div>
          <div class="row align-items-baseline">
            <p class="col-7 form-label text-start">Armas de fuego:
            </p>
            <%= f.number_field :armas_de_fuego, in:0..7, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm" %>
          </div>
          <div class="row align-items-baseline">
            <p class="col-7 form-label text-start"> Armas de Larga Distancia:
            </p>
            <%= f.number_field :armas_larga_distancia, in:0..4, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm" %>
          </div>
          <div class="row align-items-baseline">
            <p class="col-7 form-label text-start">Etiqueta:
            </p>
            <%= f.number_field :etiqueta, in:0..3, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm" %>
          </div>
          <div class="row align-items-baseline">
            <p class="col-7 form-label text-start"> Fisica: 
            </p>
            <%= f.number_field :fisica, in:0..4, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm" %>
          </div>
          <div class="row align-items-baseline">
          <p class="col-7 form-label text-start"> Informatica:  
          </p>
          <%= f.number_field :informatica, in:0..4, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm" %>
          </div>
          <div class="row align-items-baseline">
            <p class="col-7 form-label text-start"> Arqueologia:  
            </p>
            <%= f.number_field :arqueologia, in:0..4, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm" %>
          </div>
          <div class="row align-items-baseline">
            <p class="col-7 form-label text-start"> Conducir:  
            </p>
            <%= f.number_field :conducir, in:0..6, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm" %>
          </div>
          <div class="row align-items-baseline">
            <p class="col-7 form-label text-start"> Criminalistica:  
            </p>
            <%= f.number_field :criminalistica, in:0..4, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm" %>
          </div>
          <div class="row align-items-baseline">
            <p class="col-7 form-label text-start"> Linguistica:   
            </p>
            <%= f.number_field :linguistica, in:0..10, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm" %>
          </div>
        </div>
        <div class="col">
          <div class="row align-items-baseline">
            <p class="col-7 form-label text-start"> Negocios:   
            </p>
            <%= f.number_field :negocios, in:0..4, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm" %>
          </div>
          <div class="row align-items-baseline">
            <p class="col-7 form-label text-start"> Ocultismo:   
            </p>
            <%= f.number_field :ocultismo, in:0..7, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm" %>
          </div>
          <div class="row align-items-baseline">
            <p class="col-7 form-label text-start"> Quimica:    
            </p>
            <%= f.number_field :quimica, in:0..4, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm" %>
          </div>
          <div class="row align-items-baseline">
            <p class="col-7 form-label text-start"> Simpatia:    
            </p>
            <%= f.number_field :simpatia, in:0..4, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm" %>
          </div>
          <div class="row align-items-baseline">
            <p class="col-7 form-label text-start"> Persuasion:     
            </p>
            <%= f.number_field :persuasion, in:0..5, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm" %>
          </div>
          <div class="row align-items-baseline">
            <p class="col-7 form-label text-start">Pilotear / Navegar:     
            </p>
            <%= f.number_field :pilotear_navegar, in:0..5, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm" %>
          </div>
          <div class="row align-items-baseline">
            <p class="col-7 form-label text-start"> Autocontrol:     
            </p>
            <%= f.number_field :autocontrol, in:0..5, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm" %>
          </div>
          <div class="row align-items-baseline">
            <p class="col-7 form-label text-start"> Trato con animales:      
            </p>
            <%= f.number_field :trato_con_animales, in:0..7, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm" %>
          </div>
          <div class="row align-items-baseline">
            <p class="col-7 form-label text-start"> Topografia geologia:      
            </p>
            <%= f.number_field :topografia_geologia, in:0..4, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm" %>
          </div>
          <div class="row align-items-baseline">
            <p class="col-7 form-label text-start"> Supervivencia:      
            </p>
            <%= f.number_field :supervivencia, in:0..7, class:"bg-transparent border border-secondary text-white text-center rounded col-4 form-control-sm" %>
          </div>
        </div>

      </div>
    </div>
    
    <div>
      <%= f.submit 'Crear Personaje', class:"btn btn-danger my-4", id:"btnCrearPj" %>
    </div>
    <%end%> 
    </div>
  </div>

  <div class="col-md-4 col-xs-12"></div>
  
  <%= button_to 'Salir', characters_path, method: :get, class:"btn btn-light"%>
</div>
    
    
    
<script>
  const name = document.getElementById('character_name');
  const distrito = document.getElementById('character_distrito_id');
  const raza = document.getElementById('character_raza_id');
  
  const citaNombre = document.getElementById('citaNombre')
  const citaDistrito = document.getElementById('citaDistrito')
  const citaRaza = document.getElementById('citaRaza');

  const arrayRazas =['Humano','Gimpisto','Destello','Chechenia','Gag','Fanderei','Andorak','Winvhel','Chadack','Ritulillo'];
  const arrayDistritos = ['Kaiser','Drake','Ignea Mortis','Tenjou','Samsara','Stahl','Khronos','Woohan'] 

  let ptosCombate = 0;
  let totalPtos = 0;

  let ptosPsicologia = 0;


  name.addEventListener('keyup',function () {
    let nombre = name.value;
    citaNombre.classList.remove('d-none');
    citaNombre.innerHTML = "<em>" + nombre + "</em>";
  })

  distrito.addEventListener('change',function () {
    let distritoName = distrito.value - 1;
    citaDistrito.classList.remove('d-none');
    citaDistrito.innerHTML = "<em>Proveniente de " + arrayDistritos[distritoName] + "</em>";
  })

  raza.addEventListener('change', function () {
    let razaName = raza.value-1;
    citaRaza.classList.remove('d-none');
    citaRaza.innerHTML = "<em> Nacido como un "+ arrayRazas[razaName] + "<br>...<br> Te desamos suerte</em>";
    document.getElementById("repPtosPotFren").classList.remove("d-none")
    document.getElementById("repPtosPotFren").innerHTML = "<p class='text-center'>Tienes 45 puntos a repartir entre Potencialidad y Frenesis <p>";    
    
    switch (raza.value) {
      case "1":
        ptosCombate = 12;
        ptosPsicologia = 14;
      break
      case "4":
      case "5":
      case "7":
        ptosCombate = 12;
        ptosPsicologia = 11;
      break
      case "6":
        ptosCombate = 12;
        ptosPsicologia = 12;
      break
      case "2":
        ptosCombate = 11;
        ptosPsicologia = 12;
        break
      case "8":
        ptosCombate = 11;
        ptosPsicologia = 14;
        break
      case "3":
        ptosCombate = 13;
        ptosPsicologia = 12;
        break
      case "9":
        ptosCombate = 10;
        ptosPsicologia = 14;
        break
      case "10":
        ptosCombate = 6;
        ptosPsicologia = 17;
        break

      default:
      break;
    }
    document.getElementById('textoPtosCombate').innerHTML = "Reparte <strong>" + ptosCombate + "</strong> en los siguientes atributos";
    document.getElementById('textoPsicologia').innerHTML = "Reparte <strong>" + ptosPsicologia + "</strong> en los siguientes atributos"
  })

  let ptosPot = document.getElementById("character_potencialidad");
  let ptosFren = document.getElementById("character_frenesis"); 
  
  ptosFren.addEventListener('change', function () {  
    let totalPtos = parseInt(ptosPot.value) + parseInt(ptosFren.value);
    if (totalPtos == 45) {
      alert('Bien hecho chamaco');
      document.getElementById('btnCrearPj').classList.toggle('disabled');
      document.getElementById('ptosCombate').classList.remove('d-none');
      document.getElementById('ptosPsicologia').classList.remove('d-none');
    }
  })

  // sumando los ptos en combate
  let ptoCombate = document.getElementsByClassName("ptoCombate");
  ptoCombate = Object.values(ptoCombate);
  ptoCombate.forEach(pto => {
    pto.addEventListener('change',function () {
      valores = ptoCombate.map(p => parseInt(p.value))
      let reducer = (previousValue, currentValue) => previousValue + currentValue;
      let total = valores.reduce(reducer);
      if (ptosCombate == total) {
        alert('Suficiente! ya alcanzaste el computo hijo de la chingada')
        document.getElementById('btnCrearPj').classList.remove('disabled')
      }
    })
  });



</script>