<div class="my-3">
  <figure>
    <blockquote class="blockquote">
      <span id="citaNombre" class="d-none text-center"></span><br>
      <span id="citaDistrito" class="d-none"></span><br>
      <span id="citaRaza" class="d-none"></span>
    </blockquote>
    <figcaption class="blockquote-footer">
      Alquimides y concilio</cite>
    </figcaption>
  </figure>
</div>

<%= form_for @character do |f| %>
  <div class="mt-4">
    Nombre: <%= f.text_field :name %> <br>
  </div>

  <div class="my-3">
    <strong>Imagen (opcional):</strong> <%= f.text_field :avatar, placeholder:'Pega la url de tu imagen', class:"bg-dark text-white"%>
  </div>

  <div class="my-3">
    Distrito:   
    <select name="character[distrito_id]" id="character_distrito_id">
      <option value="1">Kaiser</option>
      <option value="2">Drake</option>
      <option value="3">Ignea Mortis</option>
      <option value="4">Tenjou</option>
      <option value="5">Samsara</option>
      <option value="6">Stahl</option>
      <option value="7">Khronos</option>
      <option value="8">Woohan</option>
    </select><br>
  
  <div class="my-3">
    Raza : 
    <select name="character[raza_id]" id="character_raza_id">
      <option value="1">Humano</option>
      <option value="2">Gimpisto</option>
      <option value="3">Destello</option>
      <option value="4">Chechenia</option>
      <option value="5">Gag</option>
      <option value="6">Fanderei</option>
      <option value="7">Andorak</option>
      <option value="8">Winvhel</option>
      <option value="9">Chadack</option>
      <option value="10">Ritulillo</option>
    </select><br>
  </div>

  <div class="my-3" id="ptosPotFren">
  </div>
  <div class="my-3">
    <strong>Potencialidad:</strong> <%= f.number_field :potencialidad, min:0, max:45, required: true,class:"w-25 bg-dark text-white text-center border-none"%><br>
  </div>
  
  <div class="my-3">
    <strong>Frenesis:</strong> <%= f.number_field :frenesis, min:0, max:45, class:"w-25 bg-dark text-white text-center border-none" %><br>
  </div>

  <%# Acordeon Combate %>
  <div class="my-3 text-center"> <h2>Combate</h2> </div>
  <div class="my-3 d-none" id="ptosCombate">
    <p id="textoPtosCombate"></p>
    <div>
      <div>
        <p class="my-2 mx-3">Atletismo:
        <%= f.number_field :atletismo, in:0..10, class:"bg-transparent border border-white text-white text-center rounded" %>
      </div>
      <div>
        <p class="my-2 mx-3">Estabilidad:
        <%= f.number_field :estabilidad, in:0..10 ,class:"bg-transparent border border-white text-white text-center rounded"%></p>
      </div>
      <div>
        <p class="my-2 mx-3">Pelea:
        <%= f.number_field :pelea, in:0..10 ,class:"bg-transparent border border-white text-white text-center rounded"%></p>
      </div>
      <div>
        <p class="my-2 mx-3">Destreza:
        <%= f.number_field :destreza, in:0..10 ,class:"bg-transparent border border-white text-white text-center rounded"%></p>
      </div>
      <div>
        <p class="my-2 mx-3">Esquivar:
        <%= f.number_field :esquivar, in:0..10 ,class:"bg-transparent border border-white text-white text-center rounded"%></p>
      </div>
      <div>
        <p class="my-2 mx-3">Resistencia:
        <%= f.number_field :resistencia, in:0..10 ,class:"bg-transparent border border-white text-white text-center rounded"%></p>
      </div>
      <div>
        <p class="my-2 mx-3">Fuerza:
        <%= f.number_field :fuerza, in:0..10 ,class:"bg-transparent border border-white text-white text-center rounded"%></p>
      </div>
      <div>
        <p class="my-2 mx-3">Finta:
        <%= f.number_field :finta, in:0..5 ,class:"bg-transparent border border-white text-white text-center rounded"%></p>
      </div>
      <div>
        <p class="my-2 mx-3">Alerta:
        <%= f.number_field :alerta, in:0..5 ,class:"bg-transparent border border-white text-white text-center rounded"%></p>
      </div>
      <div>
        <p class="my-2 mx-3">Sigilo:
        <%= f.number_field :sigilo, in:0..5 ,class:"bg-transparent border border-white text-white text-center rounded"%></p>
      </div>
      <div>
        <p class="my-2 mx-3">Percepcion espacial:
        <%= f.number_field :percep_espacial, in:0..5 ,class:"bg-transparent border border-white text-white text-center rounded"%></p>
      </div>
      <div>
        <p class="my-2 mx-3">Medicina:
        <%= f.number_field :medicina, in:0..5 ,class:"bg-transparent border border-white text-white text-center rounded"%></p>
      </div>
  </div>

  <div>
      <%= f.submit 'Crear Personaje', class:"btn btn-danger my-4", id:"btnCrearPj" %>
  </div>
<%end%> 

<%= button_to 'Salir', characters_path, method: :get, class:"btn btn-light"%>



<script>
  const name = document.getElementById('character_name');
  const distrito = document.getElementById('character_distrito_id');
  const raza = document.getElementById('character_raza_id');

  const citaNombre = document.getElementById('citaNombre')
  const citaDistrito = document.getElementById('citaDistrito')
  const citaRaza = document.getElementById('citaRaza');

  const arrayRazas =['Humano','Gimpisto','Destello','Chechenia','Gag','Fanderei','Andorak','Winvhel','Chadack','Ritulillo'];
  const arrayDistritos = ['Kaiser','Drake','Ignea Mortis','Tenjou','Samsara','Stahl','Khronos','Woohan'] 

  let ptosCombate = 0;
  let totalPtos = 0


  name.addEventListener('keyup',function () {
    let nombre = name.value;
    citaNombre.classList.remove('d-none');
    citaNombre.innerHTML = "<em>" + nombre + "</em>";
  })

  distrito.addEventListener('change',function () {
    let distritoName = distrito.value - 1;
    citaDistrito.classList.remove('d-none');
    citaDistrito.innerHTML = "<em>Proveniente de " + arrayDistritos[distritoName] + "</em>";
  })

  raza.addEventListener('change', function () {
    let razaName = raza.value-1;
    citaRaza.classList.remove('d-none');
    citaRaza.innerHTML = "<em> Nacido como un "+ arrayRazas[razaName] + "<br>...<br> Te desamos suerte</em>";
    document.getElementById("ptosPotFren").innerHTML = "Teneis 45 puntos a repartir entre Potencialidad y Frenesis";    
    let totalPtos = parseInt(ptosPot.value) + parseInt(ptosFren.value);
    switch (raza.value) {
      case "1":
      case "4":
      case "5":
      case "6":
      case "7":
        ptosCombate = 12;
        break;
      case "2":
      case "8":
        ptosCombate = 11;
        break
      case "3":
        ptosCombate = 13;
        break
      case "9":
        ptosCombate = 10;
        break
      case "10":
        ptosCombate = 6;
        break

      default:
      break;
    };
    document.getElementById('textoPtosCombate').innerHTML = "Reparte <strong>" + ptosCombate + "</strong> en los siguientes atributos"
  })

  let ptosPot = document.getElementById("character_potencialidad");
  let ptosFren = document.getElementById("character_frenesis");
 
  ptosFren.addEventListener('change', function () {  
    if (totalPtos > 45) {
      alert('No te quieras pasar de listo zapatito roto, son solo 45!')
      document.getElementById('btnCrearPj').classList.toggle('disabled')
    }else{
      document.getElementById('btnCrearPj').classList.remove('disabled')
      document.getElementById('ptosCombate').classList.remove("d-none")
    }
  })









</script>