<%= form_for @character do |f| %>
  Nombre: <%= f.text_field :name %> <br>
  
  <div>
    Distrito: 
    <select name="character[distrito_id]" id="character_distrito_id">
      <option value="1">Kaiser</option>
      <option value="2">Drake</option>
      <option value="3">Ignea Mortis</option>
      <option value="4">Tenjou</option>
      <option value="5">Samsara</option>
      <option value="6">Stahl</option>
      <option value="7">Khronos</option>
      <option value="8">Woohan</option>
    </select><br>
  
    <div id="liveToast" class="toast align-items-center text-white bg-dark" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="8000">
      <div class="d-flex">
        <div class="toast-body">
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>

  <div>
    Raza : <%= f.select :raza_id, [['Humano', 1],['Gimpisto',2],['Destello', 3],['Chechenia',4],['Gag',5],['Fanderei',6],['Andorak',7],['Winvhel',8],['Chadack',9],['Ritulillo',10]]%><br>
    
    <div id="liveToast2" class="toast align-items-center text-white bg-dark" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="8000">
      <div class="d-flex">
        <div class="toast-body">
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>

  </div>
  
  Potencialidad: <%= f.number_field :potencialidad, min:0, max:45 %><br>
  
  Frenesis: <%= f.number_field :frenesis, min:0, max:45 %><br>
  
  <div>
      <%= f.submit 'Crear Personaje', class:"btn btn-danger my-4" %>
  </div>

<%end%> 





<script>
  var toastTrigger = document.getElementById('character_distrito_id');
  var toastLiveExample = document.getElementById('liveToast');
  var descripcionesDistritos = ["El kaizo promedio es un individuo cuya mentalidad se caracteriza por lo práctico. No es el distrito del cual nacen los mayores artistas ni filósofos del reino, pero sí es el distrito donde puedes elegir a ojos cerrados a un individuo y dar por sentado que tendrás a un excelente soldado sin atisbo de cobardía. En una frase, el kaizo se define como “un sujeto que no puede morir sin haber combatido cien veces",
  "Saqueadores atraídos por la riqueza, el sexo y la abundancia en la mesa. Han sido temidos desde los tiempos en los que Hochland no era más que una tierra habitada por unas cuantas tribus. Son feroces amantes de los combates en los que se derraman litros de sangre. Su gloria yace en el deshonor e infortunio de los demás.", 
  "Los igneas conforman una cultura diversa, de rasgos heredados de sus distritos anteriores, con odio y hambre como unificador, además del fuego. Al ingresar a este distrito, sea por donde sea, los individuos deben pagar un precio para borrar su historial anterior y ser nombrados igneas; esto es, la devoción al ignea, el cual consiste en entregar parte de sus cuerpos a las llamas a fin de cargar sus pecados en el cuerpo a modo de cicatriz.",
  "Hablar sobre los tenjuins requiere pensar en cada persona como dos seres dentro de un mismo cuerpo. A uno de estos jamás lo conocerás, a no ser que decidas entrar al bosque de Tenjou sin ser detectado (suerte con aquello). Mientras que el otro será un sujeto políticamente correcto en sus decisiones, de sonrisa extraña, ojos sin expresión y carente de impulsividades.",
  "Los samseos tienden a ser extrovertidos. Tienen una extrema fijación con cualquier tipo de secreto. Son expertos en algunas de las artes necesarias para obtener información oculta; entre las más destacadas están el psicoanálisis, el dominio de lenguas a nivel nativo, experticia en lenguaje corporal y otras. En materias de espionaje disputan el primer lugar contra la serpiente de Hochland, Tenjou.",
  "En apariencia son, a modo general, de tez blanca: una especie de mezcla resultante entre los rusos y nórdicos de nuestro mundo. Acostumbrados al invierno eterno, los abrigos y pieles conforman parte de la indumentaria entre la mayoría de sus habitantes.",
  "Los khaleos (gentilicio utilizado para los habitantes de Khronos) viven mostrando un aparente desinterés. Pero no te dejes engañar, no es más que una máscara para esconder una pasional y profunda personalidad, llena de secretos y deseos. Las ofensas no los afectan, se consideran los más veloces del reino, por lo tanto… ¿Cómo es posible que sientan aversión por seres que están por debajo en la jerarquía de poder? Viven su ego a través de una mirada misericordiosa hacia los demás, y no como un orgullo desbocado –a menos que quieran provocar a alguien–.",
  "Nos conocen como los hinchabolas de Hochland, los payasos, irresponsables seres de eterna sonrisa, ¡los imbéciles! Jekjekejke. Rehuyen de nosotros por nuestra costumbre de exhibir… ehmm… sus defectos, apuntarles sus vergüenzas y reír hasta no parar. Rehuyen de nuestra mente creativa, capaz de… de… jekjekejke asaltar un asilo para organizar una carrera de sillitas de ruedas, ¿por qué no?"];
  

  var toastTrigger2 = document.getElementById('character_raza_id');
  var toastLiveExample2 = document.getElementById('liveToast2');
  var descripcionesRazas = ["El ser humano Titán puede entenderse como un humano que trasciende sus propias habilidades naturales. Es capaz de usar el Frènesis y la Potencialidad por voluntad propia, además poseer la capacidad de discernimiento, la cual lo faculta para controlar sus impulsos. Una capacidad que muy pocas especies tienen.",
  "Nativos del territorio compuesto por el distrito de Woohan, especialmente en el sector de las montañas. Su apariencia es similar a la de un mono, poseen pelo en todo el cuerpo, una extensa cola y en su rostro mantienen los mismos rasgos que los primates. Un símil a esta especie es el rey mono Sun Wukong de la mitología china. ",
  "Marginados desde sus inicios, los Destellos son una raza de seres humanos con una particularidad especial en la piel que les permite absorber la luz del día y reflejarla a modo de incandescencia por las noches.Morfológicamente los Destellos son igual que los humanos, con algunas diferencias más marcadas, como la piel lechosa y el pelo blanco por completo. El lector puede asemejar a esta raza con las personas que padecen albinismo, con la salvedad de que los Destellos absorben con satisfacción la luz.",
  "Con una proporción levemente más larga en el tamaño de sus piernas en relación al cuerpo, los Chechenias son una raza que comparten la morfología de los seres humanos con algunos rasgos propios de los felinos. Orejas un poco puntiagudas, dedos alargados con uñas retráctiles y ojos algo más grandes, con una fina pupila vertical que en momentos de excitación los diferencian de forma más notoria con la especie humana.",
  "Como una rama hermana de la especie humana, los Gags poseen una altura promedio de 5 metros con grandes manos, pies, abundante vello en la espalda y pecho (independiente del género), y una voz tremendamente ronca. Entre todas las especies con características humanoides, esta es la más alta, corpulenta y lenta. A causa de su gran tamaño, las conexiones involucradas en transmitir la percepción del entorno al cerebro, es decir, las señales producidas por los sentidos, son lentas. Tienen una personalidad más pausada, con una capacidad de razonamiento más lánguida, lo cual les ha valido ser considerados como 'tontos'.",
  "Los Fanderei son humanoides de piel entre azuleja y celeste. Por lo general, son de facciones finas, contextura esbelta y miden entre 1.8 a 2 metros de altura. Al momento de nacer, los Fanderei sufren una especie de trance, en el cual se reproduce la escena de separación entre Gianna, la Diosa de la Luna, y Gabandur, el Señor del Inframundo. En aquel trance el Fanderei sufre convulsiones debido a una lucha interna entre esas dos energías. La energía que predomine será la que defina el humor y características especiales en el Fanderei.",
  "Tienen un cuerpo humanoide, de contextura delgada y esbelta. Poseen un rostro con características humanas, a excepción de una frente de sutiles escamas, al igual que sus mejillas por sobre los costados de la mandíbula. Sus ojos están marcados por ojeras negras que rodean unos 0.3 centímetros la cuenca ocular.Suelen ser de personalidad retraída, introspectiva, escondiendo sus sentimientos y emociones en todo momento.",
  "Son humanoides de piel grisácea, extremadamente delgados, sus huesos se marcan bajo la piel debido a la carencia de musculatura. Sus rostros tienen la particularidad de estar marcados con una horrible fisura que une los extremos derecho e izquierdo de los labios con cada ojo respectivo. Nacen ciegos y con las cuerdas vocales casi totalmente destruidas, su tono de voz es similar al de los fumadores que la han perdido casi por completo.",
  "Los Chadacks son humanoides corpulentos, pero sobre la base de grasa, cuya distinción de los humanos, además de la grotesca complexión, yace en que poseen cola y cabeza de cerdo. Miden entre 1.7 a 2.4 metros. Existen variaciones rosadas, cafés y amarillas en cuanto a su color de piel. Carecen de cabello y de la mayoría de los vellos. No obstante, a los Chadacks que nacen con la nariz más humana les tiende a crecer un pequeño bigote. ",
  "Los Ritulillos son humanoides con características físicas similares a las de una rata. Gruesas paletas y largos bigotes delatan su roedora apariencia. Suelen medir entre 1.48 a 1.58 mts. La codicia y avaricia de los Ritulillos es desmesurada. Se desenvuelven con excelencia a la hora de realizar cualquier tipo de negocios."]

  if (toastTrigger) {
    toastTrigger.addEventListener('click', function () {
      toastLiveExample.textContent = descripcionesDistritos[toastTrigger.value -1]
      var toast = new bootstrap.Toast(toastLiveExample)

      toast.show()
    })
  }

  if (toastTrigger2) {
    toastTrigger2.addEventListener('click', function () {
      toastLiveExample2.textContent = descripcionesRazas[toastTrigger2.value -1]
      var toast = new bootstrap.Toast(toastLiveExample2)

      toast.show()
    })
  }

  
</script>