<%# Pensar la forma para que aparezca la informacion de manera colapsable.
Quizas crear un modelo con las descripciones de cada atributo?? %>

 <table class="text-center">
  <tr>
    <td>
      <a href="#" id="atletismo"> Atletismo </a>
    </td>
    <td><%= @character.atletismo%></td>
  </tr>
  <tr>
    <td>
      <a href="#" id="estabilidad">Estabilidad:</a>
    </td>  
    <td><%= @character.estabilidad %></td>
  </tr>
  <tr>
    <td>
      <a href="#" id="pelea">Pelea</a>
    </td>
    <td><%= @character.pelea %></td>
  </tr>
  <tr>
    <td>
      <a href="#" id="destreza">Destreza</a>
    </td>
    <td><%= @character.destreza %></td>
  </tr>
  <tr>
    <td>
      <a href="#" id="esquivar">Esquivar</a>
    </td>
    <td><%= @character.esquivar %></td>
  </tr>
    <tr>
    <td>
      <a href="#" id="resistencia">Resistencia</a>
    </td>
    <td><%= @character.resistencia %></td>
  </tr>
    <tr>
    <td>
      <a href="#" id="fuerza">Fuerza</a>
    </td>
    <td><%= @character.fuerza %></td>
  </tr>
  <tr>
    <td>
      <a href="#" id="finta">Finta</a>
    </td>
    <td><%= @character.finta %></td>
  </tr>
  <tr>
    <td>
      <a href="#" id="alerta">Alerta</a>
    </td>
    <td><%= @character.alerta %></td>
  </tr>
  <tr>
    <td>
      <a href="#" id="sigilo">Sigilo</a>
    </td>
    <td><%= @character.sigilo %></td>
  </tr>
  <tr>
    <td>
      <a href="#" id="percepEscpacial">Percepcion espacial</a>
    </td>
    <td><%= @character.percep_espacial %></td>
  </tr>
  <tr>
    <td>
      <a href="#" id="medicina">Medicina</a>
    </td>
    <td><%= @character.medicina %></td>
  </tr>
</table>

    <%= button_to 'Editar', edit_character_path(@character.id), class:"btn btn-danger mt-3", method: :get%>
    <%= button_to 'Salir', characters_path, method: :get, class:"btn btn-light my-3"%>
